root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_size = 4
max_line_length = 88

[*.{cs,json,xml,xaml}]
indent_size = 4

[*.{js,ts,jsx,tsx,html,css,scss,yaml,yml,md}]
indent_size = 2

[Makefile]
indent_style = tab
